body {

    background: grey;
}

h1{
    font-family: 'Alata', sans-serif;
    font-size: 4rem;
}

h2 {
    font-family: 'Alata', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}