body {
    background-image: url(https://media.istockphoto.com/vectors/snowboarding-and-skiing-seamless-pattern-winter-sport-activities-on-vector-id1055177664);
    background-size: cover;
    background-attachment: fixed;
}

label {
    font-family: 'Alata', sans-serif;
}

button {
    font-family: 'Alata', sans-serif;
}

input {
    font-family: 'Alata', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: gray;
    width: 75%;
    padding: 2.5rem;
    margin: 6.25rem auto;
  }