/* Style Guide 
  * Primary Color: Light Red
  * Secondary Color: Grey
*/

body{
  background-image: url(https://media.istockphoto.com/vectors/snowboarding-and-skiing-seamless-pattern-winter-sport-activities-on-vector-id1055177664);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: gray;
  width: 75%;
  padding: 2.5rem;
  margin: 6.25rem auto;
}

.gallery{
    background: gray;
    width: 75%;
    padding: 2.5rem;
    margin: 6.25rem auto;
}

h1{
  color: coral;
  font-family: 'Alata', sans-serif;
  font-size: 3rem;
  letter-spacing: 6px;
  text-align: center;
  
}

h2{
  color: lightgrey;
  font-family: 'Alata', sans-serif;
  font-size: 4rem;
  letter-spacing: 6px;
  text-align: center;
}

p{
  color: coral;
  padding-top: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;

}

img{
  position: relative;
  width: 100%;
  height: 100%;
}

button {
  color: slategray;
  padding: 4px;
}
/* Typography 
  * Primary Fonts: font-family: 'Alata', sans-serif;
*/


/* Homepage */

main { 
  margin: 0 auto;
  width: 90%;
    
}

li {
  float: left;
  list-style: none;
  margin: 5px;
}

h3 {
  clear: left;
}

.fullsize {
  position: relative;
}

.fullsize img {
  position: absolute;
  top: 40px;
  left: 40px;
}

/* Use :nth-child to add borders to 1st, 2nd, 3rd */
.thumbs li:nth-child(1) img {
  border: 10px solid red;  
}

.thumbs li:nth-child(2) img {
  border: 10px solid green;  
}

.thumbs li:nth-child(3) img {
  border: 10px solid blue;  
}

/* Change Borders of Full Size Images */ 
#fullsize-1 {
  border: 10px solid red;
}

#fullsize-2 {
  border: 10px solid green;
}

#fullsize-3 {
  border: 10px solid blue;
}

.fullsize img {
  opacity: 0;
  width: 50%;
}

.fullsize img:target  {
  opacity: 1;
  transition: opacity .5s;
}


/* Mobile 
  0 to 26em (416 pixels)
*/
@media only screen and (min-width: 0) { 
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Mobile Size";
  }
  
}

/* Tablet 
  26em (416 pixels) to 72em (1,152 pixels)
*/
@media only screen and (min-width: 26em)  {
    
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Tablet Size";
  }

}

/* Desktop 
   72em (1,152 pixels) to 90em (1440 pixels)
*/
@media screen and (min-width: 72em)  { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Desktop Size";
  }

}

/* Wide Desktop: 
  Greater than 90em (1440px)
*/
@media screen and (min-width: 90em) { 
  
  /* Diagnostic Styling. Delete When Done. */
  body:before {
       background: yellow;
       content: "Wide Desktop Size";
  }

}