/* Style Guide 
  * Primary Color: Light Red
  * Secondary Color: Grey
*/

body{
  background: chartreuse;
}

h1{
  color: coral;
  font-family: 'Alata', sans-serif;
  font-size: 48px;
  letter-spacing: 6px;
  text-align: center;
  
}

/* Typography 
  * Primary Fonts: font-family: 'Alata', sans-serif;
*/


/* Homepage */
img {
  
}
